<!DOCTYPE html>
<html>
  <head>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h3>Tweet Map Updated</h3>

      <form name="select-keyword" action="/" method="post" >
         <label for="selkey">Select Keyword:</label>
         <select name="keyword" class="form-control" id="selkey" onchange="submitForm(this)">
          <option value="">Select Keyword</option>
          <option value="keyword 1">movies</option>
          <option value="keyword 2">technology</option>
          <option value="keyword 3">sports</option>
          <option value="keyword 4">life</option>
          <option value="keyword 5">news</option>
          <option value="keyword 6">travel</option>
          <option value="keyword 7">health</option>
          <option value="keyword 8">awesome</option>
          <option value="keyword 9">energy</option>
          <option value="keyword 10">music</option>
         </select>

         <label for="geokey">Select Geolocation distance:</label>
         <select name="geo_dist" class="form-control" id="geokey" onchange="submitForm(this)">
          <option value="">Select Distance(km)</option>
          <option value="d1">10</option>
          <option value="d2">50</option>
          <option value="d3">100</option>
          <option value="d4">200</option>
          <option value="d5">500</option>
          <option value="d6">1000</option>
          <option value="d7">5000</option>
         </select>
      <input type="submit" value="update map" />
      </form>

      <h3>You have selected {{key| safe}}</h3>

      <!--<h3>{{dist| safe}}</h3>-->

    <p id="demo"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>
    <p id="demo4"></p>

    <div id="map"></div>

    <script>

      function initMap() {


        var tweets2 = {{tweets| safe}};
        var size=0;
        size = tweets2.length;
        document.getElementById("demo").innerHTML = "There are " + size + " tweets";

          var latitude = [];
          var longitude = [];

          for(var i = 0; i < size; i++) {

            latitude[i] = tweets2[i]["_source"]["lat"];
            longitude[i] = tweets2[i]["_source"]["lng"];
          }

        var uluru = {lat: {{lat| safe}} , lng: {{long| safe}}};
        var markers;

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: uluru
        });

          var text = "";
          var infoWindow = new google.maps.InfoWindow();
          var click_lat = null;
          var click_lng = null;

          google.maps.event.addListener(map, "click", function(event) {
            click_lat = event.latLng.lat();
            click_lng=event.latLng.lng();
            document.getElementById("demo3").innerHTML = click_lat;
            document.getElementById("demo4").innerHTML = click_lng;

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "application.py", true);
            xhttp.send();
          });

          for(var i = 0; i < size; i++) {

            var data = tweets2[i]["_source"]["tweet"];
            var markers = new google.maps.Marker({
              position: {lat:latitude[i] , lng: longitude[i]},
              map: map
        });

              (function (markers, data) {
                google.maps.event.addListener(markers, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data + "</div>");
                    infoWindow.open(map, markers);
                });
            })(markers, data);




              //text += " " + latitude[i] + " , " + longitude[i] + "<br>";
      }
            document.getElementById("demo2").innerHTML = text;

    }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7tUD_Ag0pmg8NAeIv6WyH0K7pPspiBaE&callback=initMap" async defer>
    </script>
  </body>
</html>